<button class="btn state-btn" data-state="SELECT_MODE">Back</button>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="client_gameMode">Game Mode:</label>
      <span id="client_gameMode"></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="client_start_time">Starttime:</label>
      <span id="client_start_time"></span>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Clients</h3>
  </div>
  <div class="panel-body" id="client_clients">

  </div>
</div>