<button class="btn state-btn" data-state="SELECT_MODE">SELECT_MODE</button>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="master_gameMode">Game Mode:</label>
      <select class="form-control" id="master_gameMode">
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="master_start_time">Starttime:</label>
      <input type="number" class="form-control" id="master_start_time" min="100"/>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Clients</h3>
  </div>
  <div class="panel-body" id="master_clients">

  </div>
</div>